<!doctype html>
<html>
  <head>
    <title>Vilodev</title>

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <!-- Favicon clásico -->
    <link rel="icon" type="image/png" sizes="16x16" href="./icons" />
    <link rel="icon" type="image/png" sizes="32x32" href="./icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="48x48" href="./icons/favicon-48x48.png" />
    <link rel="icon" type="image/png" sizes="64x64" href="./icons/favicon-64x64.png" />

    <!-- Favicon .ico (para máxima compatibilidad) -->
    <link rel="shortcut icon" href="./icons/favicon.ico" />

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="./icons/favicon-180x180.png" />

    <!-- Android / PWA -->
    <link rel="icon" type="image/png" sizes="192x192" href="./icons/favicon-192x192.png" />
    <link rel="icon" type="image/png" sizes="512x512" href="./icons/favicon-512x512.png" />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
